.preloader {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  &__dots {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #767676;
    color: #767676;
    animation: dotFlashing 1s infinite linear alternate;
    animation-delay: .5s;

    &::before, &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
    }

    &::before {
      left: -15px;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: #767676;
      color: #767676;
      animation: dotFlashing 1s infinite alternate;
      animation-delay: 0s;
    }

    &::after {
      left: 15px;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: #767676;
      color: #767676;
      animation: dotFlashing 1s infinite alternate;
      animation-delay: 1s;
    }
  }
}


@keyframes dotFlashing {
  0% {
    background-color: #767676;
  }
  50%,
  100% {
    background-color: #efefef;
  }
}
